<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Pictionnary - Inscription</title>
    <link rel="stylesheet" media="screen" href="/css/styles.css" >
    <link rel="stylesheet" media="screen" href="/css/bootstrap.css" >

</head>
<header>
    <a id="accueil" href="/main">Accueil</a>
    <a id="logout" href="/logout">LOGOUT</a>
    <a id="profile" href="/profile">Profil</a>
    <img src="<%= profilepic%>"/>
    <p>Bonjour <%= prenom %></p>
</header>
<body>

</body>
</html>
